.Navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
}

.Navbar--Icon {
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 0 0;
    width: 100%;
}

.Navbar--Links {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Navbar--Link {
    display: flex;
    width: fit-content;
    font-size: 25px;
    text-decoration: none;
    color: #5D5C61;
    margin: 20px 50px 20px 0;
}

@media (max-width: 1025px) {
    .Navbar {
        margin-right: 0;
        justify-content: center;
    }
    .Navbar--Links {
        width: 100%;
        justify-content: space-around;
    }
    .Navbar--Link {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .Navbar--Links {
        transform: scale(1, 1);
        transform-origin: top;
        position: absolute;
        top: 100%;
        width: 100%;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
    }
    .Navbar--Link {
        font-size: 20px;
    }
}